.App {
  text-align: center;
}

.form-head, .head {
  margin: 15px;
}

.form-body {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.block {
  margin: 20px;
}

.product-name {
  padding: 10px;
}